body {
  width: 100%;
  font-family: 'Gilroy';
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #828282;
}

.section__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
}

.text__general {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.text__general_wht {
  color: #FFFFFF;
}

.text__general_bold {
  font-weight: 700;
}

.text__general_grey {
  color: #E5E5E5;
}

.text__ltl {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.text__ltl_notselected {
  color: #E5E5E5;
}

.btn {
  color: #E5E5E5;
  display: inline-block;
}

.btn p {
  padding: 7px 12px;
  border: 2px solid #E5E5E5;
  border-radius: 15px;
}

label {
  margin-bottom: 6px;
}

input[type="textarea"],
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 2.5px solid #E5E5E5;
  height: 50px;
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer__description {
  max-width: 269px;
  text-align: center;
  margin-bottom: 30px;
}

.footer__button {
  display: inline-block;
  border-radius: 30px;
  background: #000;
  margin-bottom: 50px;
}

.footer__button p {
  padding: 10px 29px;
  font-weight: 700;
}

.footer__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
  max-width: 320px;
}

.footer__item {
  padding: 0 10px;
  margin-bottom: 15px;
}

.footer__item p {
  padding: 7px 13px;
  border-radius: 30px;
  border: 2px solid #000;
}

.footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__design {
  margin-bottom: 5px;
}

.footer__design span {
  border-bottom: 1px dashed #000;
}

@media (max-width: 320px) {
  .footer__item {
    padding: 0px 14px;
  }
  .footer__networks {
    margin-bottom: 30px;
  }
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.header__row {
  margin: 33px 0;
  padding-bottom: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #828282;
}

.header__row:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -5px;
}

.header__list li {
  padding: 0 5px;
}

.header__list li :last-child {
  padding-right: 0px;
}

.header__mobile {
  display: none;
}

.scroll__button {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 7;
}

.scroll__button_open {
  display: block;
}

.scroll__image {
  max-width: 50px;
}

@media (max-width: 320px) {
  .header__row {
    display: none;
  }
  .header__mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(246, 246, 246, 0.99);
    z-index: 4;
  }
  .header__mobile_open {
    display: block;
    -webkit-animation: menu 1s;
            animation: menu 1s;
  }
  .header__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 20px;
  }
  .burger__close {
    margin-top: 50px;
    max-width: 25px;
    margin-bottom: 185px;
  }
  .header__link {
    margin-bottom: 40px;
  }
  .header__link {
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: #828282;
  }
}

.popup__sign {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(246, 246, 246, 0.99);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.popup__sign_open {
  opacity: 1;
  visibility: visible;
}

.popup__sign_body {
  position: relative;
  width: 370px;
  padding: 40px;
  background: #FFFFFF;
  border: 2.5px solid #070707;
}

.popup__item_email,
.popup__item_password {
  margin-bottom: 20px;
}

.popup__close {
  position: absolute;
  top: -1px;
  right: -33px;
}

.popup__register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(246, 246, 246, 0.99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.popup__register_open {
  opacity: 1;
  visibility: visible;
}

.popup__email {
  margin-bottom: 20px;
}

.popup__register_body {
  position: relative;
  max-width: 680px;
  padding: 40px;
  background: #FFFFFF;
  border: 2.5px solid #070707;
}

.popup__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.popup__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.popup__consent {
  margin-bottom: 20px;
}

.popup__consent label {
  max-width: 487px;
}

.popup__close_reg {
  position: absolute;
  top: -1px;
  right: -33px;
}

.popup__message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(246, 246, 246, 0.99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  visibility: hidden;
}

.popup__message_open {
  opacity: 1;
  visibility: visible;
}

.popup__message_body {
  position: relative;
  max-width: 680px;
  padding: 40px;
  background: #FFFFFF;
  border: 2.5px solid #070707;
}

.popup__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.popup__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.popup__discuss {
  margin-bottom: 20px;
}

.popup__discuss label {
  max-width: 487px;
}

.popup__close_mes {
  position: absolute;
  top: -1px;
  right: -33px;
}

textarea {
  height: 200px;
}
