.content__skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 16px;
	&-title {
		margin-bottom: 20px;
	}
	&-qualities {
		margin-bottom: 50px;
	}
	&-row {
		display: flex;
		justify-content: space-between;
		margin: 0;
		flex-wrap: wrap;
		@media(min-width:320px) {
			margin: 0 -13px;
		}
	}
	&-item {
		padding: 0 13px;
		margin-bottom: 44px;
		max-width: 140px;
		@media(min-width:768px) {
			max-width: 180px;
		}
	}
	&-column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-picture {
		max-width: 90px;
		margin-bottom: 20px;
	}
	&-hero {
		margin-bottom: 25px;
	}
	&-progress {
		display: flex;
		margin: 0 -6px;
		max-width: 100%
	}
	&-percent {
		padding: 0 6px;
	}
}

.content__skills-scale::-webkit-progress-bar {
	background: #E5E5E5;
	max-width: 142px;
}

progress::-webkit-progress-value {
	background: #070707;
}
