body{
	width:100%;
	font-family:Gilroy
}
.container{
	max-width:1030px;
	margin:0 auto;
	padding:0 15px
}
img{
	width:100%;
	-o-object-fit:cover;
	object-fit:cover;
	vertical-align:top
}
a{
	color:#828282
}
.section__title{
	font-weight:700;
	font-size:34px;
	line-height:41px
}
.text__general{
	font-weight:400;
	font-size:18px;
	line-height:21px
}
.text__general_wht{
	color:#fff
}
.text__general_bold{
	font-weight:700
}
.text__general_grey{
	color:#e5e5e5
}
.text__ltl{
	font-weight:500;
	font-size:14px;
	line-height:16px;
	text-align:center
}
.btn{
	color:#000;
	display:inline-block;
	padding:7px 12px;
	border:2px solid #000;
	border-radius:18px
}
.popup__link{
	color:#828282
}
label{
	margin-bottom:6px;
	cursor:pointer
}
input[type=email],input[type=number],input[type=password],input[type=text]{
	border:2.5px solid #e5e5e5;
	height:50px;
	width:100%;
	padding:5px
}
input[type=email]:hover,input[type=password]:hover,input[type=number]:hover,input[type=text]:hover{
	border:2.5px solid #828282
}
input[type=email]:focus,input[type=password]:focus,input[type=number]:focus,input[type=text]:focus{
	border:2.5px solid #070707
}
button:disabled{
	color:#e5e5e5;
	border:2px solid #e5e5e5
}
.header__link:hover{
	color:#070707;
	font-weight:700
}
*{
	padding:0;
	margin:0;
	border:none
}
*,::after,::before{
	box-sizing:border-box
}
a,a:hover,a:link,a:visited{
	text-decoration:none
}
aside,footer,header,legend,main,nav,section{
	display:block
}
h1,h2,h3,h4,h5,h6,p{
	font-size:inherit;
	font-weight:inherit
}
ul,ul li{
	list-style:none
}
img,svg{
	max-width:100%;
	height:auto
}
button,input,select,textarea{
	font-family:inherit;
	font-size:inherit;
	color:inherit;
	background-color:transparent
}
input::-ms-clear{
	display:none
}
button,input[type=submit]{
	display:inline-block;
	box-shadow:none;
	background:0 0;
	cursor:pointer
}
button:active,button:focus,input:active,input:focus{
	outline:0
}
button::-moz-focus-inner{
	padding:0;
	border:0
}
.footer__column{
	display:flex;
	flex-direction:column;
	align-items:center
}
.footer__title{
	margin-top:60px;
	margin-bottom:20px
}
.footer__description{
	max-width:269px;
	text-align:center;
	margin-bottom:30px
}
.footer__button{
	display:inline-block;
	border-radius:30px;
	background:#000;
	margin-bottom:50px;
	font-size:18px;
	line-height:22px;
	text-align:center;
	color:#fff;
	padding:10px 29px
}
.footer__button:hover{
	background:#fff;
	color:#000
}
.footer__networks{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:0 -10px;
	max-width:335px
}
.footer__item{
	padding:0 10px;
	margin-bottom:15px
}
.footer__item p{
	padding:7px 13px;
	border-radius:30px;
	border:2px solid #000
}
.footer__copyrights{
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items:center;
	margin-bottom:60px
}
.footer__design{
	color:#828282;
	margin-bottom:5px
}
.footer__design a{
	color:#828282;
	border-bottom:1px dashed #000
}
.footer__design a:hover{
	color:#000;
	border-bottom:1px solid #000
}
.footer .footer__author{
	color:#828282
}
.footer__social p{
	font-size:18px;
	line-height:22px;
	text-align:center;
	color:#070707
}
@media (max-width:320px){
	.footer__item{
	padding:0 14px
}
.footer__networks{
	margin-bottom:30px
}

}
@-webkit-keyframes menu{
	0%{
	transform:translateY(-200%)
}
100%{
	transform:translateY(0)
}

}
@keyframes menu{
	0%{
	transform:translateY(-200%)
}
100%{
	transform:translateY(0)
}

}
.header__row{
	margin:33px 0;
	padding-bottom:33px;
	justify-content:space-between;
	display:flex;
	border-bottom:1px solid #828282
}
.header__row:first-child{
	flex:1 1 auto
}
.header__list{
	display:flex;
	margin-right:-5px
}
.header__list li{
	padding:0 5px
}
.header__list li:last-child{
	padding-right:0
}
.header__mobile{
	display:none
}
.scroll__button{
	display:none;
	position:fixed;
	right:5%;
	bottom:5%;
	z-index:7
}
.scroll__button_open{
	display:block
}
.scroll__image{
	max-width:50px
}
@media (max-width:320px){
	.header__row{
	display:none
}
.header__mobile{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(246,246,246,.99);
	z-index:4
}
.header__mobile_open{
	display:block;
	-webkit-animation:1s menu;
	animation:1s menu
}
.header__column{
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	margin-right:20px
}
.burger__close{
	margin-top:50px;
	max-width:25px;
	margin-bottom:185px
}
.header__link{
	margin-bottom:40px;
	font-weight:400;
	font-size:34px;
	line-height:41px;
	color:#828282
}

}
.popup__sign{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(246,246,246,.99);
	opacity:0;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:5;
	opacity:0;
	visibility:hidden
}
.popup__sign_open{
	opacity:1;
	visibility:visible
}
.popup__sign_body{
	position:relative;
	width:370px;
	padding:40px;
	background:#fff;
	border:2.5px solid #070707
}
.popup__item_email,.popup__item_password{
	margin-bottom:20px
}
.popup__close{
	position:absolute;
	top:-1px;
	right:-33px
}
.popup__register{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(246,246,246,.99);
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:5;
	opacity:0;
	visibility:hidden
}
.popup__register_open{
	opacity:1;
	visibility:visible
}
.popup__email{
	margin-bottom:20px
}
.popup__register_body{
	position:relative;
	max-width:680px;
	padding:40px;
	background:#fff;
	border:2.5px solid #070707
}
.popup__personal{
	display:flex;
	margin:0 -10px 20px;
	flex-wrap:wrap
}
.popup__consent{
	margin-bottom:20px
}
.popup__consent label{
	max-width:487px
}
.popup__close_reg{
	position:absolute;
	top:-1px;
	right:-33px
}
.popup__message{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background:rgba(246,246,246,.99);
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:5;
	visibility:hidden
}
.popup__message_open{
	opacity:1;
	visibility:visible
}
.popup__message_body{
	position:relative;
	max-width:680px;
	padding:40px;
	background:#fff;
	border:2.5px solid #070707
}
.popup__information{
	display:flex;
	margin:0 -10px 20px;
	flex-wrap:wrap
}
.popup__item{
	flex:1 1 50%;
	padding:0 10px;
	margin-bottom:20px
}
.popup__discuss{
	margin-bottom:20px
}
.popup__discuss label{
	max-width:487px
}
.popup__close_mes{
	position:absolute;
	top:-1px;
	right:-33px
}
.popup__area{
	border:2.5px solid #e5e5e5;
	height:150px;
	width:100%;
	padding:5px
}
.popup__area:hover{
	border:2.5px solid #828282
}
.popup__area:focus{
	border:2.5px solid #070707
}

button:disabled{
	border: 0;
}
