.main__top{
	margin-bottom:60px
}
.main__hero{
	max-width:280px;
	font-weight:700;
	font-size:47px;
	line-height:57px
}
.main__personal{
	display:flex;
	margin-bottom:36px;
	align-items:flex-end
}
.main__description{
	max-width:226px;
	margin-bottom:7px
}

/*Main Slider*/

.slider__wrapper{
	max-height: 560px;
	overflow: hidden;
}

.slider__inner-wrapper{
	display: flex;
	height: 100%;
}

.slider__slide{
/* 	width: 1000px; */
	flex-shrink: 0;
}

.slider__wrapper{
	margin-bottom:30px
}
.main__designations{
	display:flex;
	justify-content:space-between
}

.slider__dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #E5E5E5;
	transition: all 0.5s;
	margin-right: 7px;
}
.slider__pagination{
	align-items: center;
	display: flex;
}
.slider__dot:hover{
	background: #DADADA;
}

.slider__dot_active{
	background: #070707;
}
/*Portfolio*/


.main__portfolio{
	background:#f6f6f6
}
.main__skills{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:16px
}
.main__about{
	background:#f6f6f6
}
.about__wrapper{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:60px
}
.about__title{
	margin-top:60px;
	margin-bottom:50px
}
.about__message{
	max-width:448px;
	margin-bottom:70px;
	border:2.5px solid #070707;
	padding:15px;
	position:relative
}
.about__message::after{
	content:'';
	position:absolute;
	right:27px;
	bottom:-30px;
	border:15px solid transparent;
	border-top:15px solid #f6f6f6;
	z-index:10
}
.skills__title{
	margin-bottom:20px
}
.skills__qualities{
	margin-bottom:50px
}
.skills__row{
	display:flex;
	justify-content:space-between;
	margin:0 -13px;
	flex-wrap:wrap
}
.skill__item{
	padding:0 0 0 13px;
	margin-bottom:44px;
	max-width:180px
}
.item__column{
	display:flex;
	flex-direction:column;
	align-items:center
}
.item__picture{
	max-width:90px;
	margin-bottom:20px
}
.item__title{
	margin-bottom:25px
}
.item__progress{
	display:flex;
	margin:0 -6px
}
.item__percent,.item__scale{
	padding:0 6px
}
.item__scale{
	margin-top:3px
}
.portfolio__wrapper{
	display:flex;
	flex-direction:column;
	align-items:center
}
.portfolio__title{
	margin-top:60px;
	margin-bottom:50px
}
.portfolio__site{
	position:relative
}
.portfolio__slider{
	margin-bottom:60px
}
.portfolio__arrow_left{
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%)
}
.portfolio__arrow_right{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-50%)
}
.portfolio__basement{
	max-height:150px;
	padding:31px 0;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	background:rgba(7,7,7,.85)
}
.portfolio__hero{
	margin-bottom:16px;
	border-bottom:1px dashed #fff
}
.portfolio__hero:hover{
	border-bottom:1px solid #fff
}
.portfolio__description{
	max-width:400px
}
.burger__link{
	display:none
}
@media (max-width:768px){
	.container{
	max-width:648px
}
.skill__item{
	max-width:147px
}

}
@media (max-width:320px){
	.burger__link{
	display:block;
	margin-bottom:17px
}
.burger__button{
	width:32px
}
.skills__row{
	margin:0
}
.skill__item{
	max-width:130px
}
.main__personal{
	flex-wrap:wrap;
	justify-content:space-between
}
.main__hero{
	margin-bottom:20px
}
.portfolio__basement{
	padding:20px 15px;
	text-align:center;
	max-height:181px
}
}


/*Swiper*/

.swiper{
	max-height: 604px;
	margin: 0 0 60px 0;
}

.swiper__button{
	padding: 0 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
	color: black;
}

/*Validation*/

.is-invalid{
	border: red;
}

.invalid-feedback{
	color: red;
}