<section class="content__about">
	<div class="content__about-wrapper container">
		<h2 class="content__about-title section-title">About me</h2>
		<div class="content__about-messages">
			<div class="content__about-message text-general">Disciplined and purposeful, responsible and ready to learn
				junior who really wants to use all his skills not only in theory and test tasks but in real work. I run a
				YouTube channel dedicated old and modern videogames.
			</div>
			<div class="content__about-message text-general">I've been doing front-end development for a year now, and
				during this time, worked with such technologies – HTML, SCSS, JS. Realized how to work with cross-browser,
				semantic and adaptive layout, animation CSS/SVG.
				Worked with Git and GitHub. Basis of that – push, commit, pull request.
			</div>
			<div class="content__about-message text-general">As for JS – I have knowledge of XHR, Fetch, Promise,
				Async/Await, Event Source, WebSocket. Had a practice with project assemblers like YARN.
				Realize principles of BEM, Retina, Mobile First and try to figure out best practice of that.
				Knowledge of Sketch, Figma, Photoshop at the level of reading and exporting layouts.
				Developed my own PET project from the scratch where I used all these mentioned before technologies.
			</div>
			<div class="content__about-message text-general">My previous position – an English a teacher, where I
				discovered in myself great patience and the ability to find a common language with any people.
				I like developing and it's exciting for me and I have strong desire to study further.
				My qualities can distinguish myself as a person who wants to develop not only professionally, but also
				morally, work with as a part of team. And I’d be the good member because I’m punctuality and I google a
				question first, and then I ask.
				I would be happy to discuss the details in a personal meeting.
			</div>
		</div>
	</div>
</section>