<div class="content__slider container">
	<div class="content__slider-wrapper">
		<div class="content__slider-inner-wrapper">
			<div class="content__slider-slide">
				<img src="./img/main/photo.jpg" class="main__portrait" alt="my photo-1">
			</div>
			<div class="content__slider-slide">
				<img src="./img/main/photo1.jpg" class="main__portrait" alt="my photo-1">
			</div>
			<div class="content__slider-slide">
				<img src="./img/main/photo2.jpg" class="main__portrait" alt="my photo-1">
			</div>
			<div class="content__slider-slide">
				<img src="./img/main/photo3.jpg" class="main__portrait" alt="my photo-1">
			</div>
		</div>
	</div>
	<div class="content__slider-bottom-panel">
		<button type="button" class="content__slider-button content__slider-button-back">
			<svg width="42" height="42">
				<use xlink:href="/img/svg.svg#arrow-slider-left" />
			</svg>
		</button>
		<div class="content__slider-pagination"></div>
		<button type="button" class="content__slider-button content__slider-button-next">
			<svg width="42" height="42">
				<use xlink:href="/img/svg.svg#arrow-slider-right" />
			</svg>
		</button>
	</div>
</div>