<section class="content__portfolio">
	<div class="content__portfolio-wrapper">
		<h2 class="content__portfolio-title section-title">
			Portfolio
		</h2>
		<div class="swiper container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<img srcset="./img/main/site2x.png 2x,
					./img/main/site-mobile.png 320w,	
					./img/main/site-tablet.png 768w" src="./img/main/site.png" alt="html+css course">
					<div class="swiper-slide-description">
						<p class="swiper-slide-description-title">
							Learning site for DL Academy courses
						</p>
						<p class="swiper-slide-description-subtitle">
							A simple multi-page static site. The design layout was in Figma. HTML
							and CSS were used. The site is responsive and cross-browser, but without adding interactivity via
							JavaScript.
						</p>
					</div>
				</div>
				<div class="swiper-slide">
					<img srcset="./img/main/site2x.png 2x,
					./img/main/site-mobile.png 320w,	
					./img/main/site-tablet.png 768w" src="./img/main/site.png" alt="html+css course">
				</div>
				<div class="swiper-slide">
					<img srcset="./img/main/site2x.png 2x,
					./img/main/site-mobile.png 320w,	
					./img/main/site-tablet.png 768w" src="./img/main/site.png" alt="html+css course">
				</div>
				<div class="swiper-slide">
					<img srcset="./img/main/site2x.png 2x,
					./img/main/site-mobile.png 320w,	
					./img/main/site-tablet.png 768w" src="./img/main/site.png" alt="html+css course">
				</div>
				...
			</div>
			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>