<section class="content__about">
	<div class="content__about-wrapper container">
		<h2 class="content__about-title section-title">About me</h2>
		<div class="content__about-messages">
			<div class="content__about-message text-general">31 год. Очень увлеченный человек, люблю и хочу работать в
				команде. Люблю: спорт во всех его проявлениях (разряд по боксу), чтение (из последнего: «1984» и «Скотный
				двор» Д. Оруэлла), компьютерные игры (веду игровой канал «Бирлогич»).
			</div>
			<div class="content__about-message text-general">В любом деле самое главное – это мотивация. Год назад, когда я
				поменял свою жизнь на 180 градусов, я очень хотел в IT просто потому, что это прибыльно и современно. За год
				моего обучения и изучения этой сферы я понял, что это то, чем я хочу заниматься и в какую сторону расти
				профессионально.
			</div>
			<div class="content__about-message text-general">Последнее мое место работы - преподаватель анг. языка в
				частной лингвистической школе "Windsor". Несмотря на то, что у меня не было никакого опыта в этой сфере, мне
				доверили несколько групп из учеников разных возрастов и к концу года все ребята сдали хорошо годовые
				экзамены. За время работы с ними столкнулся с новыми для меня трудностями, но я со всеми ними справился, я
				всегда стараюсь найти творческий выход из ситуации.
			</div>
			<div class="content__about-message text-general">У меня есть огромное желание погрузиться в разработку и стать
				частью классной команды! Ищу работу на долгое время, поэтому буду рад любой обратной связи!
			</div>
		</div>
	</div>
</section>