<section class="content__skills container">
	<h2 class="content__skills-title section-title">Skills</h2>
	<p class="content__skills-qualities text-general text-general_semibold">
		I work in such programs as
	</p>
	<ul class="content__skills-row">
		<li class="content__skills-item">
			<div class="content__skills-column">
				<svg class="content__skills-picture">
					<use xlink:href="/img/svg.svg#html5" />
				</svg>
				<span class="content__skills-hero text-ltl">
					HTML
				</span>
				<div class="content__skills-progress">
					<label for="html" class="content__skills-percent">
						85%
					</label>
					<progress class="content__skills-scale" id="html" max="100" value="85"></progress>
				</div>
			</div>
		</li>
		<li class="content__skills-item">
			<div class="content__skills-column">
				<svg class="content__skills-picture">
					<use xlink:href="/img/svg.svg#css" />
				</svg>
				<span class="content__skills-hero text-ltl">
					CSS/SCSS
				</span>
				<div class="content__skills-progress">
					<label for="html" class="content__skills-percent">
						55%
					</label>
					<progress class="content__skills-scale" id="html" max="100" value="55"></progress>
				</div>
			</div>
		</li>
		<li class="content__skills-item">
			<div class="content__skills-column">
				<svg class="content__skills-picture">
					<use xlink:href="/img/svg.svg#js" />
				</svg>
				<span class="content__skills-hero text-ltl">
					JavaScript
				</span>
				<div class="content__skills-progress">
					<label for="html" class="content__skills-percent">
						5%
					</label>
					<progress class="content__skills-scale" id="html" max="100" value="5"></progress>
				</div>
			</div>
		</li>
		<li class="content__skills-item">
			<div class="content__skills-column">
				<svg class="content__skills-picture">
					<use xlink:href="/img/svg.svg#git" />
				</svg>
				<span class="content__skills-hero text-ltl">
					Git/GitHub
				</span>
				<div class="content__skills-progress">
					<label for="html" class="content__skills-percent">
						15%
					</label>
					<progress class="content__skills-scale" id="html" max="100" value="15"></progress>
				</div>
			</div>
		</li>
		<li class="content__skills-item">
			<div class="content__skills-column">
				<svg class="content__skills-picture">
					<use xlink:href="/img/svg.svg#figma" />
				</svg>
				<span class="content__skills-hero text-ltl">
					Figma
				</span>
				<div class="content__skills-progress">
					<label for="html" class="content__skills-percent">
						80%
					</label>
					<progress class="content__skills-scale" id="html" max="100" value="80"></progress>
				</div>
			</div>
		</li>
	</ul>
</section>