<footer class="footer">
	<div class="container">
		<div class="footer__column">
			<h2 class="footer__title section-title">Contacts</h2>
			<p class="footer__description text__general">Want to know more or just chat?
				You are welcome!</p>
			<button type="button" class="footer__button btn popup__link-message">
				Send message
			</button>
			<ul class="footer__networks">
				<li class="footer__item"><a href="#" class="footer__social">
						Instagram
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						Vk
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						Telegram
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						Mail
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						GitHub
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						Phone
					</a></li>
			</ul>
			<div class="footer__copyrights">
				<p class="footer__design text__ltl">Design by <a href="https://dlacademy.ru/">DL Academy</a></p>
				<p class="footer__author text__ltl">Coded by Ivan</p>
			</div>
		</div>
	</div>
</footer>