<div class="popup-change-password" id="popup-change-password">
	<div class="container">
		<div class="popup-change-password-body">
			<form action="#" method="get" class="popup-change-password__form" name="popupChangePassword">
				<div class="popup-change-password__item">
					<label for="popup-change-password__oldpassword" class="text-ltl">
						Old password *
					</label>
					<input type="password" id="popup-change-password__oldpassword" name="popupChangeOldPassword">
				</div>
				<div class="popup-change-password__item">
					<label for="popup-change-password__newpassword" class="text-ltl">
						Password *
					</label>
					<input type="password" id="popup-change-password__newpassword" autocomplete="on" name="popupNewPassword">
				</div>
				<div class="popup-change-password__item">
					<label for="popup-change-password__repeatepassword" class="text-ltl">
						Repeat new password *
					</label>
					<input type="password" id="popup-change-password__repeatepassword" autocomplete="on"
						name="popupRepeateNewPassword">
				</div>
				<button type="submit" class="popup-change-password-button btn">
					Change password
				</button>
			</form>
			<button class="popup-change-password__btn">
				<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="2.82812" width="32" height="4" rx="2" transform="rotate(45 2.82812 0)" fill="#828282" />
					<rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282" />
				</svg>
			</button>
		</div>
	</div>
</div>