<div class="popup-sign" id="popup-sign">
	<div class="container">
		<div class="popup-sign-body">
			<form action="#" method="get" class="popup-sign__form" name="popupLogin">
				<div class="popup-sign__item">
					<label for="popup-sign-email" class="text-ltl">
						Email *
					</label>
					<input type="email" id="popup-sign-email" name="popupLoginEmail">
				</div>
				<div class="popup-sign__item">
					<label for="popup-sign-password" class="text-ltl">
						Password *
					</label>
					<input type="password" id="popup-sign-password" autocomplete="on" name="popupLoginPassword">
				</div>
				<button type="submit" class="popup-sign-button btn">
					Log in
				</button>
			</form>
			<button class="popup-sign__btn" type="button">
				<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="2.82812" width="32" height="4" rx="2" transform="rotate(45 2.82812 0)" fill="#828282" />
					<rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282" />
				</svg>
			</button>
		</div>
	</div>
</div>