<div class="popup-sign" id="popup-sign">
	<div class="container">
		<form action="#" method="get" class="popup-sign__form">
			<div class="popup-sign__item popup-sign__item-email">
				<label for="email" class="text-ltl">
					<p>Email *</p>
				</label>
				<input name="sign-email" type="email" id="email">
			</div>
			<div class="popup-sign__item popup-sign__item-password">
				<label for="password" class="text-ltl">
					<p>Password *</p>
				</label>
				<input name="sign-password" type="password" id="password">
			</div>
			<button type="submit" class="popup-sign-button btn">
				Log in
			</button>
			<button class="popup-sign__btn">
				<img src="./static/images/icons/popup__close.png" alt="">
			</button>
		</form>
	</div>
</div>