<div class="popup-change-password" id="popup-change-password">
	<div class="container">
		<form action="#" method="get" class="popup-change-password__form" name="popupChangePassword">
			<div class="popup-change-password__item">
				<label for="popup-change-password__oldpassword" class="text-ltl">
					Old password *
				</label>
				<input type="password" id="popup-change-password__oldpassword" name="popupChangeOldPassword">
			</div>
			<div class="popup-change-password__item">
				<label for="popup-change-password__newpassword" class="text-ltl">
					Password *
				</label>
				<input type="password" id="popup-change-password__newpassword" autocomplete="on" name="popupNewPassword">
			</div>
			<div class="popup-change-password__item">
				<label for="popup-change-password__repeatepassword" class="text-ltl">
					Repeat new password *
				</label>
				<input type="password" id="popup-change-password__repeatepassword" autocomplete="on"
					name="popupRepeateNewPassword">
			</div>
			<button type="submit" class="popup-change-password-button btn">
				Change password
			</button>
			<button class="popup-change-password__btn">
				<img src="../../img/icons/popup__close.png" alt="">
			</button>
		</form>
	</div>
</div>