<div class="popup-editing-data" id="popup-editing-data">
	<div class="container">
		<form action="#" method="get" class="popup-editing-data__form" name="popupEditingData">
			<div class="popup-editing-data__email">
				<label for="popupEditingDataEmail">
					Email *
				</label>
				<input type="email" name="popupEditingDataEmail" id="popupEditingDataEmail">
			</div>

			<ul class="popup-editing-data__personal">
				<li class="popup-editing-data__item">
					<label for="popupEditingDataName" class="popup-editing-data__label">
						Name *
					</label>
					<input type="text" class="popup-editing-data-name" name="popupEditingDataName" id="popupEditingDataName">
				</li>
				<li class="popup-editing-data__item">
					<label for="popupEditingDataSurname" class="popup-editing-data__label">
						Surname *
					</label>
					<input type="text" name="popupEditingDataSurname" id="popupEditingDataSurname">
				</li>
				<li class="popup-editing-data__item">
					<label for="popupEditingDataLocation" class="popup-editing-data__label">
						Location *
					</label>
					<input type="text" name="popupEditingDataLocation" id="popupEditingDataLocation">
				</li>
				<li class="popup-editing-data__item">
					<label for="popupEditingDataAge" class="popup-editing-data__label">
						Age *
					</label>
					<input type="number" name="popupEditingDataAge" id="popupEditingDataAge">
				</li>
				<li class="popup-editing-data__item">
					<label for="popupEditingDataFile" class="popup-editing-data__label">
						Profile picture
					</label>
					<input type="file" name="popupEditingDataFile" class="popup-editing-data__picture text-general"
						id="popupEditingDataFile" placeholder=" ">
				</li>
			</ul>

			<button type="submit" class="popup-editing-data-button btn">
				Submit changes
			</button>

			<button class="popup-editing-data__btn">
				<img src="../../img/icons/popup__close.png" alt="">
			</button>
		</form>

	</div>
</div>