<div class="popup-register" id="popup-register">
	<div class="container">
		<form action="#" method="get" class="popup-register__form" name="popupRegister">
			<div class="popup-register__email">
				<label for="popupRegisterEmail">
					Email *
				</label>
				<input type="email" name="popupRegisterEmail" id="popupRegisterEmail">
			</div>

			<ul class="popup-register__personal">
				<li class="popup-register__item">
					<label for="popupRegisterName" class="popup-register__label">
						Name *
					</label>
					<input type="text" class="popup-register-name" name="popupRegisterName" id="popupRegisterName">
				</li>
				<li class="popup-register__item">
					<label for="popupRegisterSurname" class="popup-register__label">
						Surname *
					</label>
					<input type="text" name="popupRegisterSurname" id="popupRegisterSurname">
				</li>
				<li class="popup-register__item">
					<label for="popupRegisterPassword" class="popup-register__label">
						Password *
					</label>
					<input type="password" name="popupRegisterPassword" id="popupRegisterPassword" autocomplete="on">
				</li>
				<li class="popup-register__item">
					<label for="popupRegisterRepeat" class="popup-register-label">
						Repeat password *
					</label>
					<input type="password" name="popupRegisterRepeat" id="popupRegisterRepeat" autocomplete="on">
				</li>
				<li class="popup-register__item">
					<label for="popupRegisterLocation" class="popup-register__label">
						Location *
					</label>
					<input type="text" name="popupRegisterLocation" id="popupRegisterLocation">
				</li>
				<li class="popup-register__item">
					<label for="popupRegisterAge" class="popup-register__label">
						Age *
					</label>
					<input type="number" name="popupRegisterAge" id="popupRegisterAge">
				</li>
			</ul>

			<div class="popup-register__consent">
				<input type="checkbox" id="popupRegisterAgreement" name="popupRegisterAgreement" value="agree">
				<label for="popupRegisterAgreement" class="text-ltl">Clicking on the button, you consent to the
					processing of
					your
					personal data.</label>
			</div>

			<button type="submit" class="popup-register-button btn">
				Sign up
			</button>

			<button class="popup-register__btn">
				<img src="../../img/icons/popup__close.png" alt="">
			</button>
		</form>

	</div>
</div>