<div class="popup-register" id="popup-register">
	<div class="container">
		<form action="#" method="get" class="popup-register__form">
			<div class="popup-register__email">
				<label for="popup-register-email">
					Email *
				</label>
				<input type="email" name="popup-register-email" id="popup-register-email">
			</div>

			<ul class="popup-register__personal">
				<li class="popup-register__item">
					<label for="popup-register-name" class="popup-register__label">
						Name *
					</label>
					<input type="text" class="popup-register-name is-invalid" name="name" id="popup-register-name">
				</li>
				<li class="popup-register__item">
					<label for="popup-register-surname" class="popup-register__label">
						Surname *
					</label>
					<input type="text" name="popup-register-surname" id="popup-register-surname">
				</li>
				<li class="popup-register__item">
					<label for="popup-register-password" class="popup-register__label">
						Password *
					</label>
					<input type="password" name="popup-register-password" id="popup-register-password" autocomplete="on">
				</li>
				<li class="popup-register__item">
					<label for="popup-register-repeat" class="popup-register-label">
						Repeat password *
					</label>
					<input type="password" name="popup-register-repeat" id="popup-register-repeat" autocomplete="on">
				</li>
				<li class="popup-register__item">
					<label for="popup-register-location" class="popup-register__label">
						Location *
					</label>
					<input type="text" name="popup-register-location" id="popup-register-location">
				</li>
				<li class="popup-register__item">
					<label for="popup-register-age" class="popup-register__label">
						Age *
					</label>
					<input type="number" name="popup-register-age" id="popup-register-age">
				</li>
			</ul>

			<div class="popup-register__consent">
				<input type="checkbox" id="popup-register__agreement" name="popup-register__agreement" value="agreement">
				<label for="popup-register__agreement" class="text-ltl">Clicking on the button, you consent to the
					processing of
					your
					personal data.</label>
			</div>

			<button type="submit" class="popup-register-button btn">
				Sign up
			</button>

			<button class="popup-register__btn">
				<img src="../../img/icons/popup__close.png" alt="">
			</button>
		</form>

	</div>
</div>