//Main

.main{
	&__top{
		margin-bottom: 60px;
	}
	&__hero{
		max-width: 280px;
		font-weight: 700;
		font-size: 47px;
		line-height: 57px;
	}
	&__personal{
		display: flex;
		margin-bottom: 36px;
		align-items: flex-end;
			}
	&__description{
		max-width: 226px;
		margin-bottom: 7px;
	}
	&__photo{
		margin-bottom: 30px;
	}
	&__designations{
		display: flex;
		justify-content: space-between;
	}
	&__point{
		display: flex;
		align-items: center;
		img{
			max-width: 10px;
			max-height: 10px;
			margin: 0 7px;
		}
	}
	&__portfolio{
		background: #F6F6F6
	}
	&__skills{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
	}
	&__about{
		background: #F6F6F6;
	}
}

//About

.about{
	&__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
	}
	&__title{
	margin-top: 60px;
	margin-bottom: 50px;
	}
	&__message{
	max-width: 448px;
	margin-bottom: 70px;
	border: 2.5px solid #070707;
	padding: 15px;
	position: relative;
	&::after{
		content: '';
		position: absolute;
		right: 27px;
		bottom: -30px;
		border: 15px solid transparent;
		border-top: 15px solid #f6f6f6;
		z-index: 10;
	}
}
}
//Skills

.skills{
	&__title{
	margin-bottom: 20px;
	}
	&__qualities{
	margin-bottom: 50px;
	}
	&__row{
	display: flex;
	justify-content: space-between;
	margin: 0 -13px;
	flex-wrap: wrap;
	}
}
.skill__item{
	padding: 0 13px;
	margin-bottom: 44px;
}
.item{
	&__column{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	&__picture{
		max-width: 90px;
		margin-bottom: 20px;
	}
	&__title{
		margin-bottom: 25px;
	}
	&__progress{
		display: flex;
		margin: 0 -6px;
	}
	&__percent,
	&__scale{
		padding: 0 6px;
	}
	&__scale{
		margin-top: 3px;
	}
}

//Portfolio
.portfolio{
	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
		margin-top: 60px;
		margin-bottom: 50px;
	}
	&__site{
		position: relative;
	}
	&__slider{
		margin-bottom: 60px;
	}
	&__arrow_left{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	&__arrow_right{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	
	&__basement{
	max-height: 150px;
	padding: 31px 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(7, 7, 7, 0.85);
	}
	&__hero{
		margin-bottom: 16px;
		border-bottom: 1px dashed #fff;
	}
	&__description{
		max-width: 400px;
	}
}









