.header__row {
	margin: 33px 0;
	padding-bottom: 33px;
	display: flex;
	border-bottom: 1px solid #828282;
}
.header__list {
	display: flex;
	width: 100%;
	li {
		&:first-child {
			flex: 1 1 auto;
			margin: 0;
		}
	}
}

.header__link{
	margin-left: 20px;
}

.first-link{
	margin: 0;
}

.header__mobile {
	display: none;
}
.main-scroll-button {
	display: none;
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 7;
}
.main-scroll-button_open {
	display: block;
}
.scroll__image {
	max-width: 50px;
}
.header__close {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.header__link {
	&:hover {
		color: #070707;
		font-weight: 700;
	}
}
@media (max-width:320px) {
	.header__row {
		position: absolute;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, -100%);
		transition: all 1s;
		flex-direction: column;
		width: 100%;
		z-index: 4;
		background: rgba(246, 246, 246, 0.99);
		height: 100%;
		top: 0;
	}
	.header__close-open {
		position: relative;
		z-index: 4;
		opacity: 1;
		visibility: visible;
		top: 50;
		margin-top: 50px;
		margin-bottom: 200px;
		display: inline-flex;
		justify-content: end;
		margin-right: 20px;
	}
	.header__row-open {
		position: fixed;
		visibility: visible;
		opacity: 1;
		margin: 0;
		transform: translate(0, 0);
	}
	.header__list {
		flex-direction: column;
		align-items: flex-end;
		li {
			&:first-child {
				margin-bottom: 40px;
				margin-right: 20px;
			}
			margin-right: 20px;
			margin-bottom: 40px;
		}
	}
	.header__link {
		font-weight: 400;
		font-size: 34px;
		line-height: 41px;
		color: #828282;
	}
	.main {
		margin-top: 30px;
	}
}
