html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $gilroy;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-title {
	font-weight: 700;
	font-size: 34px;
	line-height: 41px;
}

.text-general {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	&_wht {
		color: #fff;
}
	&-bold {
	font-weight: 700;
}
	&_grey {
	color: #e5e5e5;
}
} 
.text-ltl {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	vertical-align: top;
}
	
.popup-register_open {
		opacity: 1;
		visibility: visible;
	}

.btn {
	font-weight: 700;
	color: #000;
	display: inline-block;
	padding: 7px 12px;
	border: 2px solid #000;
	border-radius: 18px;
	&:hover{ 
	color: white;
	background: black;
}
}
a {
	color: $color-link;
}
label {
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: $color-text;
}
input[type=email] {
	border: 2.5px solid #e5e5e5;
	height: 50px;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	&:hover {
		border: 2.5px solid $color-link;
	}
	&:focus {
		border: 2.5px solid #070707;
	}
}
input[type=number] {
	border: 2.5px solid #e5e5e5;
	height: 50px;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	&:hover {
		border: 2.5px solid $color-link;
	}
	&:focus {
		border: 2.5px solid #070707;
	}
}
input[type=password] {
	border: 2.5px solid #e5e5e5;
	height: 50px;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	&:hover {
		border: 2.5px solid $color-link;
	}
	&:focus {
		border: 2.5px solid #070707;
	}
}
input[type=text] {
	border: 2.5px solid #e5e5e5;
	height: 50px;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	&:hover {
		border: 2.5px solid $color-link;
	}
	&:focus {
		border: 2.5px solid #070707;
	}
}

/*Main*/

.main__top-hero {
	max-width: 280px;
	font-weight: 700;
	font-size: 47px;
	line-height: 57px;
}


.header__link {
	color: $color-link;
	font-weight: 700;
}
.popup-sign,
.popup-change-password,
.popup-register,
.popup-editing-data,
.popup-message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(246,246,246,.99);
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	&_open{
		opacity: 1;
		visibility: visible;
	}
	&__form{
		position: relative;
		max-width: 680px;
		padding: 40px;
		background: #fff;
		border: 2.5px solid #070707;
	}
}


.popup__item-email,
.popup__item-password {
	margin-bottom: 20px;
}

.popup-sign__btn,
.popup-message__btn,
.popup-register__btn,
.popup-change-password__btn,
.popup-editing-data__btn {
	position: absolute;
	top: -1px;
	right: -33px;
}

.popup-register__form,
.popup-message__form,
.popup-editing-data__form {
	position: relative;
	max-width: 680px;
	padding: 40px;
	background: #fff;
	border: 2.5px solid #070707;
}
.popup-register__personal,
.popup-editing-data__personal {
	display: flex;
	margin: 0 -10px 20px;
	flex-wrap: wrap;
}
.popup-register__consent {
	margin-bottom: 20px;
	label {
		max-width: 487px;
	}
}


.popup-message__information {
	display: flex;
	margin: 0 -10px 20px;
	flex-wrap: wrap;
}
.popup-message__item,
.popup-register__item,
.popup-editing-data__item {
	flex: 1 1 50%;
	padding: 0 10px;
}
.popup-editing-data__item:last-child{
	max-width: 305px;
}
.popup-message__discuss {
	margin-bottom: 20px;
}
.popup__discuss {
	label {
		max-width: 487px;
	}
}
.popup-message__area {
	border: 2.5px solid #e5e5e5;
	height: 150px;
	width: 100%;
	padding: 5px;
	&:hover {
		border: 2.5px solid $color-link;
	}
	&:focus {
		border: 2.5px solid #070707;
	}
}

//Burger

.main__burger-button {
	display: none;
}

@media (max-width:320px) {
	.main__burger-button {
		display: block;
		margin-bottom: 17px;
		width: 32px;
		margin-top: 10px;
	}
}


/*Validation*/

.is-invalide{
	border: red;
}

.invalide-feedback{
	color: red;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	/* фоновый цвет */
	background: transparent;
	z-index: 1001;
}

.preloader__image {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}

//Popup-editing-data
.popup-editing-data__personal{
	margin: 0 -10px 20px;
}

.popup-editing-data-file{
	margin-bottom: 20px;
}

.popup-editing-data__picture{
	max-width: 290px;
	border: 2.5px solid #e5e5e5;
	max-height: 50px;
	padding: 14px;
}

