<div class="content__info">
	<div class="content__column">
		<ul class="content__personal">
			<li class="content__text text-general-bold">Name: <span
					class="content__text content__text-info j-profile-name"></span>
			</li>
			<li class="content__text text-general-bold">Surname:<span
					class="content__text content__text-info j-profile-surname">
				</span>
			</li>
			<li class="content__text text-general-bold">Email:<span
					class="content__text content__text-info j-profile-email">
				</span>
			</li>
			<li class="content__text text-general-bold">Password:<span
					class="content__text content__text-info j-profile-password">*********
				</span>
			</li>
			<li class="content__text text-general-bold">Location:<span
					class="content__text content__text-info j-profile-location">
				</span>
			</li>
			<li class="content__text text-general-bold">Age:<span class="content__text content__text-info j-profile-age">
				</span>
			</li>
		</ul>
		<div class="content__buttons">
			<button class="content__button btn j-change-password">
				<p>Change password</p>
			</button>
			<button class="content__button btn j-change-data">
				<p>Change other data</p>
			</button>
			<button class="content__button btn j-delete-account">
				<p>Delete account</p>
			</button>
		</div>
	</div>
</div>