<div class="content__info">
	<div class="content__column">
		<ul class="content__personal">
			<li class="content__text text-general-bold">Name: <span class="j-main__text-name"></span>
			</li>
			<li class="content__text text-general-bold">Surname:<span class="j-main__text-surname">
				</span>
			</li>
			<li class="content__text text-general-bold">Email:<span class="j-main__text-email">
				</span>
			</li>
			<li class="content__text text-general-bold">Password:<span class="j-main__text-password">*********
				</span>
			</li>
			<li class="content__text text-general-bold">Location:<span class="j-main__text-location">
				</span>
			</li>
			<li class="content__text text-general-bold">Age:<span class="j-main__text-age">
				</span>
			</li>
		</ul>
		<div class="content__buttons">
			<button class="content__button btn j-change-password">
				<p>Change password</p>
			</button>
			<button class="content__button btn j-change-data">
				<p>Change other data</p>
			</button>
			<button class="content__button btn j-delete-account">
				<p>Delete account</p>
			</button>
		</div>
	</div>
</div>