

.main{
	&__title{
		margin-bottom: 40px;
	}
	&__row{
	display: flex;
	align-items: flex-start;
	}
	&__canvas{
		margin-left: -20px;
		max-width: 320px;
		margin-right: 105px;
	}
	&__column,
	&__buttons{
		display: flex;
		flex-direction: column;
	}
	&__personal{
		margin-top: 20px;
		margin-bottom: 40px;
		li{
			margin-bottom: 20px;
		}
	}
	&__button{
		margin-bottom: 20px;
		&:nth-last-child(-n+1){
			margin-bottom: 0;
		}
	}
}
