/*Main Slider*/
.main__top {
  margin-bottom: 60px;
}

.main__top-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 600px) {
  .main__top-personal {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__top-description {
  max-width: 226px;
  margin-bottom: 7px;
}

.main__slider-wrapper {
  max-height: 560px;
  overflow: hidden;
  margin-bottom: 30px;
}

.main__slider-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 100%;
}

.main__slider-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}

.main__slider-bottom-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E5E5E5;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 7px;
}

.slider__dot:hover {
  background: #DADADA;
}

.slider__pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__dot_active {
  background: #070707;
}

.main__slider-button {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.main__slider-button:disabled {
  opacity: .3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__slider-button:hover {
  opacity: .6;
}

/*Portfolio*/
.main__portfolio {
  background: #f6f6f6;
}

.main__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.main__about {
  background: #f6f6f6;
}

.main__about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.main__about-title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.main__about-message {
  max-width: 448px;
  margin-bottom: 70px;
  border: 2.5px solid #070707;
  padding: 15px;
  position: relative;
}

.main__about-message::after {
  content: '';
  position: absolute;
  right: 27px;
  bottom: -30px;
  border: 15px solid transparent;
  border-top: 15px solid #f6f6f6;
  z-index: 10;
}

.main__skills-title {
  margin-bottom: 20px;
}

.main__skills-qualities {
  margin-bottom: 50px;
}

.main__skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__skills-item {
  padding: 0 13px;
  margin-bottom: 44px;
  max-width: 180px;
}

@media (max-width: 400px) {
  .main__skills-item {
    max-width: 150px;
  }
}

.main__skills-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__skills-picture {
  max-width: 90px;
  margin-bottom: 20px;
}

.main__skills-hero {
  margin-bottom: 25px;
}

.main__skills-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -6px;
}

.main__skills-percent {
  padding: 0 6px;
}

.main__skills-scale {
  padding: 0 6px;
  margin-top: 3px;
}

.main__portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__portfolio-title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.portfolio__site {
  position: relative;
}

.portfolio__slider {
  margin-bottom: 60px;
}

.portfolio__arrow_left {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio__arrow_right {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio__basement {
  max-height: 150px;
  padding: 31px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(7, 7, 7, 0.85);
}

.portfolio__hero {
  margin-bottom: 16px;
  border-bottom: 1px dashed #fff;
}

.portfolio__hero:hover {
  border-bottom: 1px solid #fff;
}

.portfolio__description {
  max-width: 400px;
}

/*Swiper*/
.swiper {
  max-height: 604px;
  margin: 0 0 60px 0;
}

.swiper__button {
  padding: 0 30px;
}

.swiper-button-prev::after {
  color: black;
}

.swiper-button-next::after {
  color: black;
}

@media (max-width: 768px) {
  .container {
    max-width: 648px;
  }
  .skill__item {
    max-width: 147px;
  }
}

@media (max-width: 320px) {
  .main__burger-button {
    display: block;
    margin-bottom: 17px;
    width: 32px;
  }
  .skills__row {
    margin: 0;
  }
  .skill__item {
    max-width: 130px;
  }
  .main__personal {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__top-hero {
    margin-bottom: 20px;
  }
  .portfolio__basement {
    padding: 20px 15px;
    text-align: center;
    max-height: 181px;
  }
}

/*Validation*/
.is-invalid {
  border: red;
}

.invalid-feedback {
  color: red;
}
