<div class="popup__register" id="popup__register">
	<div class="container">
		<form action="#" method="get" class="popup__register_body">
			<div class="popup__email">
				<label for="email" class="text__general_ltl">
					<p>Email *</p>
				</label>
				<input type="email" name="email" id="email">
			</div>
			<ul class="popup__personal">
				<li class="popup__item popup__item_name">
					<label for="name" class="item__label">
						<p>Name *</p>
					</label>
					<input type="text" name="name" id="name">
				</li>
				<li class="popup__item popup__item_surname">
					<label for="surname" class="item__label">
						<p>Surname *</p>
					</label>
					<input type="text" name="surname" id="surname">
				</li>
				<li class="popup__item popup__item_password">
					<label for="password" class="item__label">
						<p>Password *</p>
					</label>
					<input type="password" name="password" id="password">
				</li>
				<li class="popup__item popup__item_repeat">
					<label for="repeat" class="item__label">
						<p>Repeat password *</p>
					</label>
					<input type="password" name="repeat" id="repeat">
				</li>
				<li class="popup__item popup__item_location">
					<label for="location" class="item__label">
						<p>Location *</p>
					</label>
					<input type="text" name="location" id="location">
				</li>
				<li class="popup__item popup__item_age">
					<label for="age" class="item__label">
						<p>Age *</p>
					</label>
					<input type="text" name="age" id="age">
				</li>

			</ul>
			<div class="popup__consent">
				<input type="checkbox" id="consent" name="consent" value="consent">
				<label for="consent" class="text__ltl_notselected">Clicking on the button, you consent to the processing of
					your
					personal data.</label>
			</div>
			<button class="popup__button btn btn__not">
				<p>Sign up</p>
			</button>
			<button class="popup__close_reg">
				<img src="../../static/images/icons/popup__close.png" alt="">
			</button>
		</form>

	</div>
</div>