<header class="header">
	<div class="container">
		<ul class="header__row">
			<li class="header__main">
				<a href="/" class="header__link">Home</a>
			</li>
			<li class="header__personal">
				<ul class="header__list">
					<li class="header__link header__link_grey"><a href="../../../pages/blog/index.html">My blog</a>
					</li>
					<li class="header__link header__link_grey"><a href="#">Sign in</a></li>
					<li class="header__link header__link_grey"><a href="#">Register</a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>