
body {
  width: 100%;
  font-family: 'Gilroy';
}
.container{
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}
img{
	width: 100%;
	object-fit: cover;
}
a{
	color: #828282;
}
.section__title{
	font-weight: 700;
	font-size: 34px;
	line-height: 41px;
}

.text__general{
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	&_wht{
		color: #FFFFFF;
	}
	&_bold{
		font-weight: 700;
	}
	&_grey{
		color: #E5E5E5;
	}
}

.text__ltl{
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	&_notselected{
		color: #E5E5E5;
	}
}

.btn{
	color: #E5E5E5;
	display: inline-block;
	p{
		padding: 7px 12px;
		border: 2px solid #E5E5E5;
		border-radius: 15px;
	}
}

//Popup
label{
	margin-bottom: 6px;
}

input[type="textarea"],
input[type="text"],
input[type="email"],
input[type="password"] {
	border: 2.5px solid #E5E5E5;
	height: 50px;
	width: 100%;
}

@import "./nullstyle";
@import "./footer/footer";
@import "./header/header";
@import "./popup__sign/popup__sign";
@import "./popup__register/popup__register";
@import "./popup__message/popup__message";