<div class="popup popup-message">
	<div class="popup-wrapper container">
		<form action="#" method="get" class="popup-form">
			<div class="popup__item">
				<label for="popup-message-name" class="popup__label">
					<span>
						What is your name? *
					</span>
				</label>
				<input type="text" name="popup-message-name" id="popup-message-name" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-message-message" class="popup__label">
					<span>
						Message subject *
					</span>
				</label>
				<input type="text" name="popup-message-" id="popup-message-message" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-message-email" class="popup__label">
					<span>
						Your Email *
					</span>
				</label>
				<input type="text" name="popup-message-email" id="popup-message-email" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-message-phone" class="popup__label">
					<span>
						Your mobile phone *
					</span>
				</label>
				<input type="text" name="popup-message-phone" id="popup-message-phone" class="popup-input">
			</div>
			<div class="popup__item popup__item-full">
				<label for="popup-message-area" class="popup__label">
					<span>
						What do you want to discuss with me?
					</span>
				</label>
				<input type="textarea" class="popup-textarea" name="popup-message-discuss" id="popup-message-discuss">
			</div>
			<button type="submit" class="popup-button btn">
				Sign up
			</button>
		</form>
		<button class="popup-btn popup-btn-mes" type="button">
			<svg width="25" height="25">
				<use xlink:href="/img/svg.svg#popup-close" />
			</svg>
		</button>
	</div>
</div>