<div class="popup popup-editing-data" id="popup-editing-data">
	<div class="popup-wrapper container">
		<form action="#" method="post" class="popup-form" name="popupEditingData" novalidate>
			<div class="popup__item popup__item-first">
				<label for="popupEditingDataEmail" class="popup__label">
					Email *
				</label>
				<input type="email" name="email" id="popupEditingDataEmail" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupEditingDataName" class="popup__label">
					Name *
				</label>
				<input type="text" class="popup-input" name="name" id="popupEditingDataName">
			</div>
			<div class="popup__item">
				<label for="popupEditingDataSurname" class="popup__label">
					Surname *
				</label>
				<input type="text" name="surname" id="popupEditingDataSurname" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupEditingDataLocation" class="popup__label">
					Location *
				</label>
				<input type="text" name="location" id="popupEditingDataLocation" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupEditingDataAge" class="popup__label">
					Age *
				</label>
				<input type="number" name="age" id="popupEditingDataAge" class="popup-input">
			</div>
			<div class="popup__item popup__item-picture">
				<label for="popupEditingDataFile" class="popup__label">
					Profile picture
				</label>
				<input type="file" name="avatar" class="popup-editing-data__picture text-general" id="popupEditingDataFile"
					placeholder="">
				<svg width="16" height="16" class="popup__item-logo">
					<use xlink:href="/img/svg.svg#file-upload" />
				</svg>
				<span class="popup__item-file text-general">Выберите файл</span>
			</div>
			<div class="popup__item popup__item-last">
				<button type="submit" class="popup-button popup-button_other btn">
					Submit changes
				</button>
			</div>
		</form>
		<button class="popup-btn popup-btn-edit-close">
			<svg width="25" height="25">
				<use xlink:href="/img/svg.svg#popup-close" />
			</svg>
		</button>
	</div>
</div>