<div class="popup popup-change-password" id="popup-change-password">
	<div class="popup-wrapper container">
		<form action="#" method="post" class="popup-form popup-form-sign" name="popupChangePassword">
			<div class="popup__item">
				<label for="popup-change-password__oldpassword" class="popup__label">
					Old password *
				</label>
				<input type="password" id="popup-change-password__oldpassword" name="popupChangeOldPassword"
					class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-change-password__newpassword" class="popup__label">
					Password *
				</label>
				<input type="password" id="popup-change-password__newpassword" autocomplete="on" name="popupNewPassword"
					class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-change-password__repeatepassword" class="popup__label">
					Repeat new password *
				</label>
				<input type="password" id="popup-change-password__repeatepassword" autocomplete="on" class="popup-input"
					name="popupRepeateNewPassword">
			</div>
			<div class="popup__item">
				<button type="submit" class="popup-button popup-button_other btn">
					Change password
				</button>
			</div>
		</form>
		<button class="popup-btn popup-btn-change-pas-close">
			<svg width="25" height="25">
				<use xlink:href="/img/svg.svg#popup-close" />
			</svg>
		</button>
	</div>
</div>