<div class="popup popup-sign">
	<div class="popup-wrapper container">
		<form action="#" method="get" class="popup-form popup-form-sign" name="popupLogin">
			<div class="popup__item">
				<label for="popup-sign-email" class="popup__label text-ltl">
					Email *
				</label>
				<input type="email" id="popup-sign-email" name="popupLoginEmail" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popup-sign-password" class="popup__label text-ltl">
					Password *
				</label>
				<input type="password" id="popup-sign-password" name="popupLoginPassword" class="popup-input">
			</div>
			<button type="submit" class="popup-button btn">
				Log in
			</button>
		</form>
		<button class="popup-btn popup-btn-sign" type="button">
			<svg width="25" height="25">
				<use xlink:href="/img/svg.svg#popup-close" />
			</svg>
		</button>
	</div>
</div>