<div class="popup popup-register">
	<div class="popup-wrapper container">
		<form action="#" method="get" class="popup-form" name="popupRegister" novalidate>
			<div class="popup__item popup__item-full">
				<label for="popupRegisterEmail">
					Email *
				</label>
				<input type="email" name="email" id="popupRegisterEmail" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterName" class="popup__label">
					Name *
				</label>
				<input type="text" name="name" id="popupRegisterName" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterSurname" class="popup__label">
					Surname *
				</label>
				<input type="text" name="surname" id="popupRegisterSurname" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterPassword" class="popup__label">
					Password *
				</label>
				<input type="password" name="password" id="popupRegisterPassword" autocomplete="on" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterRepeat" class="popup__label">
					Repeat password *
				</label>
				<input type="password" name="repeat" id="popupRegisterRepeat" autocomplete="on" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterLocation" class="popup__label">
					Location *
				</label>
				<input type="text" name="location" id="popupRegisterLocation" class="popup-input">
			</div>
			<div class="popup__item">
				<label for="popupRegisterAge" class="popup__label">
					Age *
				</label>
				<input type="number" name="age" id="popupRegisterAge" class="popup-input">
			</div>
			<div class="popup__consent">
				<label for="popupRegisterAgreement" class="text-ltl popup__consent-text">
					<input type="checkbox" id="popupRegisterAgreement" name="popupRegisterAgreement"
						class="popup__consent-agreement">
					Clicking on the button, you consent to the processing of your personal data.
				</label>
			</div>
			<button type="submit" class="btn popup-button popup-button-reg" disabled>
				Sign up
			</button>
		</form>
		<button class="popup-btn popup-btn-reg-close" type="button">
			<svg width="25" height="25">
				<use xlink:href="/img/svg.svg#popup-close" />
			</svg>
		</button>
	</div>
</div>