
.footer{
	&__column{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title{
	margin-top: 60px;
	margin-bottom: 20px;
	}
	&__description{
		max-width: 269px;
		text-align: center;
		margin-bottom: 30px;
	}
	&__button{
		display: inline-block;
		border-radius: 30px;
		background: #000;
		margin-bottom: 50px;
		p{
			padding: 10px 29px;
			font-weight: 700;
		}
	}
	&__networks{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -10px;
		max-width: 300px;
	}
	&__item{
		padding: 0 10px;
		margin-bottom: 15px;
		p{
			padding: 7px 13px;
			border-radius: 30px;
			border: 2px solid #000;	
		}
	}
	&__copyrights{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-bottom: 60px;
	}
	&__design{
		margin-bottom: 5px;
		span{
			border-bottom: 1px dashed #000;
		}
	}
}