<footer class="footer">
	<div class="container">
		<div class="footer__column">
			<h2 class="footer__title section__title">Contacts</h2>
			<p class="footer__description text__general">Want to know more or just chat?
				You are welcome!</p>
			<button type="button" class="footer__button btn">
				<p class="text__general_wht">Send message</p>
			</button>
			<ul class="footer__networks">
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">Instagram</p>
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">Vk</p>
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">Telegram</p>
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">Mail</p>
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">GitHub</p>
					</a></li>
				<li class="footer__item"><a href="#" class="footer__social">
						<p class="text__general_bold">Phone</p>
					</a></li>
			</ul>
			<div class="footer__copyrights">
				<p class="footer__design text__ltl">Design by <span>DL Academy</span></p>
				<p class="footer__author text__ltl">Coded by Ivan</p>
			</div>
		</div>
	</div>
</footer>