<div class="popup__message" id="message">
	<div class="container">
		<form action="#" method="get" class="popup__message_body">
			<ul class="popup__information">
				<li class="popup__item"><label for="name" class="item__label">
						<p>What is your name? *</p>
					</label>
					<input type="text" name="name" id="name">
				</li>
				<li class="popup__item"><label for="message" class="item__label">
						<p>Message subject *</p>
					</label>
					<input type="text" name="message" id="message">
				</li>
				<li class="popup__item"><label for="email" class="item__label">
						<p>Your Email *</p>
					</label>
					<input type="text" name="email" id="email">
				</li>
				<li class="popup__item"><label for="phone" class="item__label">
						<p>Your mobile phone *</p>
					</label>
					<input type="text" name="phone" id="phone">
				</li>
			</ul>
			<div class="popup__discuss">
				<label for="discuss" class="item__label">
					<p>What do you want to discuss with me?</p>
				</label>
				<input type="textarea" class="popup__area" name="discuss" id="discuss">
			</div>
			<button class="popup__button btn btn__not">
				<p>Sign up</p>
			</button>
			<button class="popup__close_mes">
				<img src="../../static/images/icons/popup__close.png" alt="">
			</button>
		</form>

	</div>
</div>